<!-- Counters -->
<section id="counters" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-6 mb-4 mb-xl-0 px-5 text-md-left">
                <h2 class="heading-brackets">{{__ "Did you know?" }}</h2>
                <p class="lead">{{__ "CodeBerry offers programming courses in 8 languages and has students from 15 countries around the world." }}</p>
            </div>
            <div class="col-md-4 col-xl-2 py-4">
                <h1 class="counter">{{vanityStats.numberOfStudents}}</h1>
                <p class="op-75">{{__ "Students" }}</p>
            </div>
            <div class="col-md-4 col-xl-2 py-4">
                <h1 class="counter">{{vanityStats.numberOfCompletedLessons}}</h1>
                <p class="op-75">{{__ "Completed lessons" }}</p>
            </div>
            <div class="col-md-4 col-xl-2 py-4">
                <h1 class="counter">{{vanityStats.numberOfLinesOfCodeWritten}}</h1>
                <p class="op-75">{{__ "Lines of code" }}</p>
            </div>
        </div>
    </div>
</section>