<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark py-3 border-bottom">
    <div class="container-fluid">
        <a href="/{{urlLocale}}"><img src="/assets/img/logo-alt-white.svg" height="50" width="160" alt="CodeBerry"></a>
        <button class="navbar-toggler text-white border-0" type="button" data-toggle="collapse" data-target="#navbar-responsive" aria-controls="navbar-responsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars fa-1x"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-responsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link pagescroller" href="/{{urlLocale}}/#header">{{__ "Home" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pagescroller" href="/{{urlLocale}}/#courses">{{__ "Courses" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pagescroller" href="/{{urlLocale}}/#pricing">{{__ "Pricing" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pagescroller" href="/{{urlLocale}}/#faq">{{__ "FAQ" }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pagescroller" href="https://codeberryschool.com/blog/{{urlLocale}}/">{{__ "Blog" }}</a>
                </li>
                <li class="nav-item">
                    <a href="https://orange.codeberryschool.com/auth/login?locale={{fullLocale}}" class="btn btn-pill btn-sm my-2 my-lg-0 ml-lg-4 btn-outline-primary">{{__ "Log in" }}</a>
                </li>
                <li class="nav-item">
                    <a href="https://orange.codeberryschool.com/auth/signup?locale={{fullLocale}}" class="btn btn-pill btn-sm my-2 my-lg-0 ml-lg-2 btn-primary">{{__ "Sign up" }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
