<!-- Transparent Pricing -->
<section id="transparent-pricing" class="bg-light text-center">
    <div class="container">
        <div class="row mb-5 d-none">
            <div class="col-lg-12">
                <h2 class="h1 heading-brackets">{{__ "Transparent pricing"}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-lg-left">
                <h2 class="h2 heading-brackets mb-3">{{__ "Transparent pricing"}}</h2>
                <p class="mb-5">{{__ "We want to be as open as possible with everyone interested in studying with us. We believe that you deserve to know exactly what you are paying for when you subscribe to one of our plans. Transparent pricing allows us to show you visually how your money is spent at CodeBerry." }}</p>
            </div>
            <div class="col-lg-5 offset-lg-1 form-inline align-items-stretch text-center px-0">
                <div class="col-12 sr-button">
                    <h5>{{__ "Where your money goes when you purchase a subscription to CodeBerry:" }}</h5>
                </div>
                <div class="col-12 dotted-center dotted-bottom sr-button">
                    <div class="point p-2 mx-auto rounded-circle"></div>
                </div>
                <div class="card px-1 dotted-center dotted-half sr-button">
                    <div class="badge btn-pill">50%</div>
                    <div class="circle" style="background-image: url(/assets/img/transparent-pricing/salaries.svg);"></div>
                    <h6>{{__ "Employee Salaries" }}</h6>
                </div><!-- /.card #1 -->
                <div class="card px-1 dotted-center dotted-half sr-button">
                    <div class="badge btn-pill">6%</div>
                    <div class="circle" style="background-image: url(/assets/img/transparent-pricing/hosting.svg);"></div>
                    <h6>{{__ "Operational Costs" }}</h6>
                </div><!-- /.card #2 -->
                <div class="card px-1 dotted-center dotted-half sr-button">
                    <div class="badge btn-pill">26%</div>
                    <div class="circle" style="background-image: url(/assets/img/transparent-pricing/ads.svg);"></div>
                    <h6>{{__ "Advertising Costs" }}</h6>
                </div><!-- /.card #3 -->
                <div class="card px-1 dotted-center dotted-half sr-button">
                    <div class="badge btn-pill">2%</div>
                    <div class="circle" style="background-image: url(/assets/img/transparent-pricing/software.svg);"></div>
                    <h6>{{__ "Software" }}</h6>
                </div><!-- /.card #4 -->
                <div class="card px-1 dotted-center dotted-half sr-button">
                    <div class="badge btn-pill">16%</div>
                    <div class="circle" style="background-image: url(/assets/img/transparent-pricing/taxes.svg);"></div>
                    <h6>{{__ "Taxes" }}</h6>
                </div><!-- /.card #5 -->
            </div>
        </div>
    </div>
</section>