{{>navbar-primary}}

<!-- Course Listing -->
<section id="course-listing" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-4 mx-auto text-center">
                <h1 class="display-4 heading-brackets">{{__ "CodeBerry Courses" }}</h1>
                <p class="lead op-50">Enroll in the latest computer science courses covering important topics in artificial intelligence, cyber security, software engineering, and big data. Add a portfolio of programming skills or get an overview of the field with Harvard University’s Introduction to Computer Science, a free course that you can start today.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 card-columns">
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-1.jpg" }}" alt="{{__ "JavaScript Introduction" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "JavaScript Introduction" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #1 -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-2.jpg" }}" alt="{{__ "CSS Basics" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "CSS Basics" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #2 -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-3.jpg" }}" alt="{{__ "HTML5 and CSS Fundamentals" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "HTML5 and CSS Fundamentals" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #3 -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-4.jpg" }}" alt="{{__ "HTML5 Coding Essentials and Best Practices" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "HTML5 Coding Essentials and Best Practices" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #4 -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-5.jpg" }}" alt="{{__ "HTML5 Apps and Games" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "HTML5 Apps and Games" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #5 -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-6.jpg" }}" alt="{{__ "Build your very first iOS app" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "Build your very first iOS app" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #6 -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-1.jpg" }}" alt="{{__ "JavaScript Introduction" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "JavaScript Introduction" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #1 copy -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-2.jpg" }}" alt="{{__ "CSS Basics" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "CSS Basics" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #2 copy -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-3.jpg" }}" alt="{{__ "HTML5 and CSS Fundamentals" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "HTML5 and CSS Fundamentals" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #3 copy -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-4.jpg" }}" alt="{{__ "HTML5 Coding Essentials and Best Practices" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "HTML5 Coding Essentials and Best Practices" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #4 copy -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-5.jpg" }}" alt="{{__ "HTML5 Apps and Games" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "HTML5 Apps and Games" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #5 copy -->
                <div class="card sr-card">
                    <a href="/{{urlLocale}}/course-page"><img class="card-img-top" src="{{__ "/assets/img/courses/course-cover-6.jpg" }}" alt="{{__ "Build your very first iOS app" }}"></a>
                    <div class="badge badge-primary badge-ribbon">Verified Certificate</div>
                    <div class="card-body">
                        <h5 class="card-title">{{__ "Build your very first iOS app" }}</h5>
                        <small class="text-muted">{{__ "Self-Paced" }}</small>
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <a href="/{{urlLocale}}/course-page" class="btn btn-pill btn-sm btn-outline-primary">{{__ "Read more" }}</a>
                    </div>
                </div><!-- /course #6 copy -->
            </div>
        </div>
    </div>
</section>

{{>footer}}